@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,300,600,700&subset=latin,cyrillic);
@import 'bootstrap.css';

@font-face {
	font-family: 'Poiret One';
	font-style: normal;
	font-weight: 400;
	src: local('Poiret One'), 
		local('PoiretOne-Regular'), 
		url(f/poiret-one.woff2) format('woff2'), 
		url(f/poiret-one.woff) format('woff');
}

/* HELP */
body > span, body > div,  body > a,  body > img {position: absolute !important; left: -9999px !important;}


.hhh {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.23);
	color: #fff;
	display: block !important;
	font-size: 30px;
	left: 0;
	padding: 30px 40px;
	position: fixed;
	top: 0;
	z-index: 9999;
}


/* __________________ General _______________ */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	color: #000;
	font: 1rem Verdana,​ sans-serif;
	line-height: 1.7rem;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 40px;
	font-weight: normal;
}
h1 {font-size: 3rem; letter-spacing: -1px}
h2 {font-size: 2.5rem}
h3 {font-size: 2rem}
h4 {font-size: 1.5rem}


img {
	max-width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

a {

}
a:hover, a:focus {
	
}

::-moz-selection {
	background: rgba(0, 225, 255, 0.5);
}
::selection {
	background: rgba(0, 225, 255, 0.5);
}

.row:after,
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

#noscript {
	display: block;
}


/* __________________ Classes _______________ */

.hidden {overflow: hidden}

/* __________________ Main _______________ */

#page-bg,
#page-bg-noise {
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
#page-bg {
	background: url(i/page-bg.jpg) no-repeat 50% 50% #fff;
	background-size: cover;
	z-index: 1;
}
#page-bg-noise {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEElEQVQImWNgYGD4j4ZJBQDnXAP96y4aqgAAAABJRU5ErkJggg==) repeat 0 0 #8EE3FF;
	opacity: 0.1;
	z-index: 2;
}

#page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	z-index: 999999989;
}

#header {
	background: linear-gradient(to bottom, rgba(0,0,0,0.4) 50%,rgba(0,0,0,0) 100%);
	left: 0;
	padding: 40px 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}
	#logo {
		background: url(i/logo.png) no-repeat 0 0 transparent;
		background-size: 100% auto;
		position: relative;
		color: #fff;
		text-indent: -9999px;
		display: block;
		width: 400px;
		height: 65px;
	}
	#address-top-wrap {
		font-family: 'Poiret One', cursive;
		font-size: 1.6rem;
		font-style: normal;
		color: #fff;
		text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.85);
	}
	#address-top {
		float: right;
	}
		#address-top a {
			color: #fff;
		}

#main {

}

#footer-push {

}
#footer {
	position: relative;
	z-index: 999999990;
	background: none #79C0D7;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	padding: 40px 0;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

/* __________________ Content _______________ */

.window-wrap {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999995;
	opacity: 0;
	visibility: hidden;
}
	.window {
		box-sizing: border-box;
		display: none;
		width: 50%;
		margin: 0 auto;
		background: none rgba(255,255,255,0.9);
		position: absolute;
		z-index: 2;
		left: 50%;
		top: 0;
		margin-left: -25%;
		padding: 30px 50px;
	}
	.window-bg {
		background: none rgba(0,0,0,0.7);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
	.window-close {
		position: absolute;
		top: -29px;
		right: -29px;
		display: block;
		cursor: pointer;
		font-size: 24px;
		line-height: 24px;
		height: 24px;
		width: 24px;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
	}


/*------scroll-block------*/

.scroll-block {
	box-sizing: border-box;
	display: block;
	width: auto;
	position: relative;
	overflow: hidden;
	padding-top: 100px;
}
	.scroll-block-three,
	.scroll-block-one {
		background: url(i/scroll-bg-1.jpg) no-repeat center 0 fixed #79C0D7;
		background-size: cover;
		min-height: 1000px;
		height: 1000px;
		margin: 0 auto;
		width: 100%;
		max-width: 1920px;
		position: relative;
	}
	.scroll-block-two {
		background: none #79C0D7; 
		background-size: cover;
		min-height: 1900px;
		margin: 0 auto;
		width: 100%;
		max-width: 1920px;
		position: relative;
		-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
		box-shadow: 0 0 50px rgba(0,0,0,0.8);
	}
	.scroll-block-three {
		background: none #997EFF;
		color: #ffffff; 
		background-size: cover;
		margin: 0 auto;
		width: 100%;
		max-width: 1920px;
		position: relative;
		-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
		box-shadow: 0 0 50px rgba(0,0,0,0.8);
	}

	

/*------system-block------*/

.system-wrap {
	position: relative;
}
	.system-wrap__bg {
		background: linear-gradient(to left, #79C0D7 240px, rgba(0,0,0,0) 100%);
		display: block;
		height: 1000px;
		position: absolute;
		right: -400px;
		top: 0;
		width: 350px;
		z-index: 10;
	}
	.system__item {

	}
	.system__item:after {
		content: '';
		display: table;
		clear: both;
	}
	.system__item.item-1 {
		z-index: 2;
	}
	.system__item.item-2 {
		
	}
	.system__item.item-3 {
		
	}
		.system__elem {
			box-sizing: content-box;
			display: block;
			position: absolute;
			height: auto;
			right: -150%;
			top: 0;
			width: 50%;
			-webkit-transition: all 0.5s linear;
			-moz-transition: all 0.5s linear;
			-o-transition: all 0.5s linear;
			transition: all 0.5s linear;
		}
		.system__item.item-1 .system__elem {
			top: 0;
			width: 300px;
			z-index: 5;
			padding-right: 100px;
		}
		.system__item.item-2 .system__elem {
			top: 278px;
			z-index: 4;
			width: 1000px;
		}
		.system__item.item-3 .system__elem {
			margin-right: -175px;
			top: 460px;
			width: 700px;
			z-index: 3;
		}
		.system__item.item-4 .system__elem {
			padding-right: 178px;
			top: 370px;
			width: 460px;
			z-index: 2;
		}
		.system__item.item-5 .system__elem {
			margin-right: -364px;
			top: 685px;
			width: 1000px;
		}
		.system__item.item-6 .system__elem {
			left: -150%;
			margin-left: -700px;
			top: 1040px;
			width: 1500px;
		}
			.system__elem img {

			}
		.system__descr {
			display: block;
			position: absolute;
			width: 35%;
			left: -150%;
			color: #fff;
			font: 300 1.2rem 'Poiret One', Helvetica,​ Arial,​ sans-serif;
			-webkit-transition: all 0.5s linear;
			-moz-transition: all 0.5s linear;
			-o-transition: all 0.5s linear;
			transition: all 0.5s linear;
			z-index: 9;
		}
		.system__item.item-1 .system__descr {
			top: 46px;
			width: 480px;
		}
		.system__item.item-2 .system__descr {
			top: 500px;
			width: 480px;
		}
		.system__item.item-3 .system__descr {
			top: 650px;
			text-align: right;
			left: auto;
			right: -150%;
		}
		.system__item.item-4 .system__descr {
			top: 700px;
			width: 480px;
		}
		.system__item.item-5 .system__descr {
			top: 900px;
			width: 480px;
		}
		.system__item.item-6 .system__descr {
			text-align: right;
			top: 1030px;
			width: 330px;
			left: auto;
			right: -150%;
		}




@media screen and (max-width: 991px) {

	#address-top {float: none}
	.system-wrap .system__item {margin-bottom: 50px}
	.system-wrap .system__item .system__elem,
	.system-wrap .system__item .system__descr {
		position: relative;
		top: auto;
		margin: 0;
		padding: 0;
		width: auto;
		text-align: left;
	}
	.system-wrap .system__item .system__elem {text-align: center}
		.system-wrap .system__item .system__elem img {max-height: 100px}

}


@media screen and (max-width: 575px) {

	#logo {width: 288px}
	

}
