.container {
    padding-bottom: 5.6em;
}

.column
, .columns {
    margin-left: 4%;
}
.column:first-child
, .columns:first-child
, .columns.n-marg {
    margin-left: 0; 
}

.one.column,
.one.columns                    { width: 4.66666666667%; }
.two.columns                    { width: 13.3333333333%; }
.three.columns                  { width: 22%;            }
.four.columns                   { width: 30.6666666667%; }
.five.columns                   { width: 39.3333333333%; }
.six.columns                    { width: 48%;            }
.seven.columns                  { width: 56.6666666667%; }
.eight.columns                  { width: 65.3333333333%; }
.nine.columns                   { width: 74.0%;          }
.ten.columns                    { width: 82.6666666667%; }
.eleven.columns                 { width: 91.3333333333%; }
.twelve.columns                 { width: 100%; margin-left: 0; }

.one-third.column               { width: 30.6666666667%; }
.two-thirds.column              { width: 65.3333333333%; }

.one-half.column                { width: 48%; }

/* Offsets */
.offset-by-one.column,
.offset-by-one.columns          { margin-left: 8.66666666667%; }
.offset-by-two.column,
.offset-by-two.columns          { margin-left: 17.3333333333%; }
.offset-by-three.column,
.offset-by-three.columns        { margin-left: 26%;            }
.offset-by-four.column,
.offset-by-four.columns         { margin-left: 34.6666666667%; }
.offset-by-five.column,
.offset-by-five.columns         { margin-left: 43.3333333333%; }
.offset-by-six.column,
.offset-by-six.columns          { margin-left: 52%;            }
.offset-by-seven.column,
.offset-by-seven.columns        { margin-left: 60.6666666667%; }
.offset-by-eight.column,
.offset-by-eight.columns        { margin-left: 69.3333333333%; }
.offset-by-nine.column,
.offset-by-nine.columns         { margin-left: 78.0%;          }
.offset-by-ten.column,
.offset-by-ten.columns          { margin-left: 86.6666666667%; }
.offset-by-eleven.column,
.offset-by-eleven.columns       { margin-left: 95.3333333333%; }

.offset-by-one-third.column,
.offset-by-one-third.columns    { margin-left: 34.6666666667%; }
.offset-by-two-thirds.column,
.offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

.offset-by-one-half.column,
.offset-by-one-half.columns     { margin-left: 52%; }

h1 { font-size: 5.0em; }
h2 { font-size: 4.2em; }
h3 { font-size: 3.6em; }
h4 { font-size: 3.0em; }
h5 { font-size: 2.4em; }
h6 { font-size: 1.5em; }

form,
p,
ul {
    margin-bottom: 2.5em;
}

.tu3
, .t3 { 
    font-size: 2.5em;
}

.tu4 
, .t4 { 
    font-size: 2.2em;
}

.tu6
, .t6 { 
    font-size: 1.4em;
}

.form .line {
    padding: 0.5em 0;
}

.after-registration-page .sand-glass {
    margin: 8em auto 0;
}

.after-registration-page .controls {
    margin-top: 5em;
}


.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-size: 1.6em;
  line-height: 56px;
  height: 56px;
}

li {
    margin-bottom: 1em;
}

.disclaimer {
    font-size: 1.4em;
    line-height: 4.4em;
    background: #000;
    padding: 0 2em;
}

.dropmenu .close {
    width: 5em;
    height: 5em;
    margin: 0 2em;
    padding: 1.5em 0;
}

.dropmenu .links li {
    font-size: 1.8em;
    line-height: 5em;
}

.dropmenu #account-icon {
    width: 6em;
    max-width: 6em;
    margin-bottom: 2em;
}

.dropmenu .account_dashboard .name {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 1em;
}

.dropmenu .account_dashboard .points {
    font-size: 2.4em;
    line-height: 1.2em;
}

.dropmenu .account_menu {
    margin-top: 3em;
}

.dropmenu .account_menu .item {
    font-size: 1.5em;
    line-height: 1.2em;
}

.dropmenu .controls-row-1
, .dropmenu .controls-row-2 {
    margin-top: 3em;
}

.account-pages .account-page-content {
    margin-left: 50%;
}

.account-pages .settings {
    padding-top: 3em;
}

.settings > .title {
    font-size: 3em;
    line-height: 1.2em;
    margin-bottom: 2.35em;
}

.form .input {
    height: 56px;
}
