@media (max-width: 1280px){
    .after-bar.old-menu-fix {
        padding-left: calc(70px + 41.7%) !important;
    }
}

.old-menu-new{
    background: rgb(255,255,255) url(/static/images/profile_background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.dropmenu .account_dashboard .points,
.dropmenu .account_dashboard .points span {
    font-weight: 100;
}

.ns1 {
    width: 30.6666666667% !important;
    margin: 0 auto !important;
    display: block !important;
    float: none !important;
}
.active{
    opacity: 1;
}

.winter-promo,
.winter-profile{
    font-weight: 300;
    font-family: Roboto;
    line-height: 2.2rem;
}

.winter-profile .captain-block{
    padding-top: 50px;
    background-color: rgb(20, 92, 156);
}

.winter-profile .captain-block .description{
    color: #ffffff;
    font-size: 1.3rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.winter-profile .captain-block .photo{
    margin-bottom: 2rem;
}

.participants-block .count,
.winter-profile .captain-block .name{
    color: #ffffff;
    font-size: 2.4rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.winter-profile .participants-block{
    background-color: rgb(13, 85, 148);
    padding: 6rem 0;
    position: relative;
}

.winter-profile .upload-block{
    background-color: rgb(20, 92, 156);
    padding: 10rem 0;
}

.winter-profile .delete-block{
    background-color: rgb(225, 227, 227);
    text-align: center;
    font-family: "Roboto";
    font-weight: 500;
    color: rgba(49, 51, 51, 0.502);
    text-transform: uppercase;
    padding: 3rem;
    font-size: 1.5rem;
    letter-spacing: -1px;
}
.winter-profile .delete-block span{
    vertical-align: super;
    padding-left: 10px;
}

.winter-profile .captain-block .caption{
    color: #ffffff;
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.winter-profile .text-center{
    text-align: center;
}

.winter-profile .title{
    color: #85c0f6;
    font-size: 3rem;
    font-weight: 100;
    font-family: Roboto;
    line-height: 4rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.winter-profile .participants-block .count{
    padding-bottom: 2em;
}

.winter-profile .participants-block .participants{
    width: 93%;
    margin: 0 auto;
}

.winter-profile .participants-block .participants:after{
    content: "";
    display: block;
    clear: both;
}

.winter-profile .participants-block .participants .participant{
    float: left;
    box-sizing: border-box;
    width: 33%;
}

.winter-profile .participants-block .participants .participant .img{
    text-align: center;
}

.winter-profile .participants-block .participants .participant .name{
    color: #ffffff;
    font-size: 2.2rem;
}

.winter-profile .participants-block .participants .participant .role{
    color: #ffffff;
    font-size: 1.7rem;
}

.winter-profile .participants-block .participants .participant .cancel-invite{
    color: #ffffff;
    font-size: 1.5rem;
}

.winter-profile .participants-block .participants .participant .cancel-invite a{
    cursor: pointer;
}

.winter-profile .participants-block .participants .create-invite .create-invite-button img{
    cursor: pointer;
}

.winter-profile .upload-block .upload-icon{
    text-align: center;
    opacity: 0.5;
}

.winter-profile .upload-block .upload-icon:hover{
    opacity: 1;
}

.winter-profile .upload-block .info{
    color: #ffffff;
    font-size: 2.0rem;
    text-align: center;
    padding: 2.5rem 0;
}

.winter-profile .upload-block .requirements{
    color: rgb(94, 146, 191);
    font-size: 1.7rem;
    text-align: center;
}

.winter-profile .upload-block .requirements a{
    color: rgb(94, 146, 191);
    cursor: pointer;
}

.winter-profile .upload-block .requirements a:hover{
    color: rgb(255,255,255);
}

.after-bar.old-menu-fix {
   /* padding-left: calc(-13px + 41.7%) !important;*/
}

.winter-promo .winter-line{
    width: 100%;
}

.winter-promo .winter-line:after{
    content: "";
    display: block;
    clear: both;
}

.winter-promo .winter-video{
}

.winter-promo .winter-video .expert-background{
    position: relative;
    box-sizing: content-box;
    line-height: 0;
    background: url(/static/images/video-background.png);
    width: 100%;
    height: 44.497vw;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.winter-promo .winter-video .expert-background img{
    width: 100%;
}

.winter-promo .winter-video .expert-background .text{
    position: absolute;
    top: 29%;
    left: 9vw;
}

.winter-promo .winter-video .expert-background .header{
    font-size: 3.62vw;
    font-weight: 100;
    color: rgb(20, 92, 156);
    text-transform: uppercase;
    line-height: 0.963;
}

.winter-promo .winter-video .expert-background .names{
    letter-spacing: -1px;
    font-size: 1.83vw;
    font-weight: 100;
    color: rgb(20, 92, 156);
    line-height: 1.2;
    padding-top: 3.3vw;
}

.winter-promo .winter-video .expert-background .play-button{
    background: url(/static/images/Button.png);
    background-size: cover;
    width: 6.17vw;
    height: 6.17vw;
    position: absolute;
    left: calc(50% - 3.85vw);
    top: calc(50% - 3.85vw);
    cursor: pointer;
}

.winter-promo .winter-video .expert-background .play-button:hover{
    background: url(/static/images/ButtonHover.png);
    background-size: cover;
}

.winter-promo .half{
    width: 50%;
    float: left;
}

.winter-promo .win{
    background-color: rgb(232, 232, 232);
    color: rgb(0, 65, 123);
    padding: 6.2vw 6.44vw;
}

.winter-promo .win .win-text{
    font-size: 3.8vw;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.08;
}

.winter-promo .win .friends-text{
    font-size: 3.8vw;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 1.08;
}

.winter-promo .win .disclaimer-text{
    font-size: 1.6vw;
    color: rgb(49,51,51);
    margin-top: 4.3vw;
    display: block;
}

.winter-waiting{
    text-align: center;
        padding: 9.5vw 0px;
}

.winter-waiting .icon{

}

.winter-waiting .waiting-text{
    font-size: 1.61vw;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    padding-top: 1.5vw;
    padding-bottom: 4.5vw;
}

.winter-waiting .rules{
    font-size: 1.07vw;
    color: rgb(94, 146, 191);
    line-height: 1.5;
}

.participants-block .invitation{
    background: #e1e3e3;
    position: absolute;
    top: 100%;
    z-index: 1;
    width: 100%;
    display: none;
}

.participants-block .invitation-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

.participants-block .invitation .invitation-by-email,
.participants-block .invitation .invitation-by-link{
    width: 50%;
    float: left;
}

.participants-block .invitation .corner{
    height: 0;
    width: 0;
    border-bottom: 20px solid #e1e3e3;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: relative;
    top: -20px;
    left: calc(50% - 20px);
}

.participants-block .invitation .text{
    padding: 3% 0;
    font-size: 1.2em;
    font-weight: 400;
    color: #afb1b1;
}

.participants-block .invitation .input-winter input{
    color: #afb1b1;
    background: #d4d6d6;
    border: 1px solid #afb1b1;
    font-size: 2em;
    text-transform: uppercase;
    width: 100%;
}

.participants-block .invitation .input-winter input:active{
    border: 1px solid #afb1b1;
}

.participants-block .invitation .invite-button a{
    padding: 0% 3%;
    cursor: pointer;
}

.invitation-wrapper{
    width: 93%;
    margin: 0 auto;
}

.size_video .video-js .vjs-tech {
    height: 44.47vw;
    background: #000000;
}

.winter-waiting .icon a{
    font-size: 2rem;
    text-transform: UPPERCASE;
    text-decoration: none;
    Color: #ffffff;
}

.input-winter{
    position: relative;
    width: 80%;
}

.input-winter.error::after{
    display: block;
    width: 30px;
    height: 5rem;
    position: absolute;
    top: -26%;
    /* bottom: 0; */
    right: -5%;
    /* margin: auto 0; */
    margin-top: 0.5rem;
    content: '';
    background: url(../images/form_error_icon.png) 0 50% no-repeat;
}

@media (max-width: 640px){
    .winter-promo .winter-video .expert-background{
        background: url(/static/images/video-background.png);
        height: 99.21875vw;
        background-size: cover;
        background-position-x: -107%;
        background-position-y: center;
    }

    .winter-video-background1{
        width: 100%;
        height: 100%;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+58,2989d8+100&0+0,0.5+100 */
        background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(30,87,153,0.29) 58%, rgba(41,137,216,0.5) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.29) 58%,rgba(41,137,216,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(30,87,153,0.29) 58%,rgba(41,137,216,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#802989d8',GradientType=0 ); /* IE6-9 */


        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        position: absolute;
        top:0;
        left: 0;
    }

    .winter-promo .winter-video .expert-background .play-button {
        background: url(/static/images/PlayButtonMobile.png);
        background-size: cover;
        width: 14.0625vw;
        height: 14.0625vw;
        position: absolute;
        left: calc(50% - 7.03125vw);
        top: calc(50% - 13.03125vw);
    }

    .winter-promo .winter-video .expert-background .text {
        color: #ffffff;
        top: 50vw;
        left: 3vw;
    }

    .winter-promo .winter-video .expert-background .header {
        color: #ffffff;
        top: 49vw;
        left: 3vw;
        font-weight:bold;
        font-size: 9.7vw;
    }

    .winter-promo .winter-video .expert-background .header span.thin{
        font-weight:100;
    }

    .winter-promo .winter-video .expert-background .names {
        color: #ffffff;
        font-size: 4.8vw;
        padding-top: 3.3vw;
    }

    .winter-promo .half {
        width: 100%;
        float: none;
    }

    .winter-promo .win{
        padding: 10vw 3vw;
        height: 100%;
    }

    .winter-promo .win .win-text{
        font-size: 9.5vw;
    }
    .winter-promo .win .friends-text{
        font-size: 9.5vw;
    }

    .winter-promo .win .disclaimer-text{
        font-size: 4.6vw;
        margin-top: 9.3vw;
        line-height: 6vw;
        margin-bottom: 6vw;
    }

    .winter-waiting {
        padding: 13.5vw 0px;
    }

    .winter-waiting .icon img{
        width: 15.625vw;
    }

    .winter-waiting .waiting-text {
        font-size: 6.5vw;
        line-height: 1;
        padding-top: 4.5vw;
        padding-bottom: 6.5vw;
    }

    .winter-waiting .rules {
        font-size: 3.5vw;
    }

    .size_video .video-js .vjs-tech {
        height: 100%;
    }
}