/* Basic styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

*{
    padding: 0;
    margin: 0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}



article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}

html, body {
    height: 100%;
}

body {
      background: #145c9c;
        position: relative;
}

.clear { clear: both;  }
.left  { float: left;  }
.right { float: right; }
.center { text-align: center; }

.text-center { text-align: center; }
.text-right  { text-align: right; }
.text-left   { text-align: left; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tu3, .tu4, .tu6,
.t3, .t4, .t6  {
    color: #fff;
}

.tu3, .tu4, .tu6  {
    text-transform: uppercase;
}

.tu3
, .t3 { 
    font-size: 2.5rem;
    font-weight: 300;
    font-family: Roboto;
    line-height: 3rem;
}

.tu4 
, .t4 { 
    font-size: 2.2rem;
    font-weight: 300;
    font-family: Roboto;
    line-height: 2.5rem;
}

.tu6
, .t6 { 
    font-size: 1.4rem;
    font-weight: 300;
    font-family: Roboto;
    line-height: 1.6rem;
}


/*font: 18px/38px Roboto Condensed;*/

.tu3.condensed,
.tu4.condensed,
.tu6.condensed { font-family: Roboto Condensed; }

.bold {
    font-weight: 400 !important;
}

.text-title {
    font-size: 4rem;
    font-weight: 100;
    font-family: Roboto;
    line-height: 4.2rem;
    color: #fff;
    text-transform: uppercase;
}

.t6-100 {
    font-size: 1.4rem;
    font-weight: 100;
    font-family: Roboto;
    line-height: 1.6rem;
}

/* Common elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.bpanel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 100%;
    background: #00417b;
    z-index: 0;    
}

.container {
    width: 100% !important;
    margin: 0;
    padding: 0;
    max-width: inherit;
}

.disclaimer {
    background: rgba(0,0,0,.3);
    /* color: #a8b4c4; */
    color: #ffffff;
    font-size: 1.357rem;
    font-family: Roboto Condensed;
    line-height: 1.5rem;
    padding: 20px 2rem;
    position: fixed;
    bottom: 0;
    right: 0;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 10000000;
	height: 56.6px;
}
.scroll {
    background: rgba(0,0,0,.3);
    /* color: #a8b4c4; */
    color: #ffffff;
    font-size: 1.357rem;
    font-family: Roboto Condensed;
    line-height: 2.1rem;
    padding: 13px 2.7rem 0 2.7rem;
    position: fixed;
    bottom: 0;
    right: 50%;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 10000000;
    margin-right: -63.42px;
}
.scroll p{
    margin-bottom: 0;
}
.disclaimer span {
    display: none;
}
.scroll span {
    display: inline-block;
}

/* .disclaimer { color: #757575; } */

.container {
    padding-bottom: 1.2rem;
}

.container {
    padding-bottom: 5.6rem; /* 4.4+1.2 */
}

@media (max-width: 750px) {
    .container {
        padding-bottom: 5.6rem; /* 4.4+1.2 */
    }
    
    .disclaimer {
        width: 100%;
        text-align: center;
        color: #ffffff;
        color: #ffffff;
        margin-top: 4.4rem;
    }
    .desclimer span {
        display: inline-block;
    }
}

body.non-auth-bg {
    background: url(../images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.panel_block {
    position: relative;
    padding-left: 90px;
    background: #00417b;
}

.panel {
    width: 8rem;
    background: #00417b;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 3rem;
    background: #00417b;
    z-index: 999;
}



@media (min-width: 800px) and (max-width: 1400px) {
    .panel { width:72px; 
        height: 100%;    
    }
}

@media (min-width: 1400px) and (max-width: 1800px) {
    .panel { width:83px; height: 100%; }
}

@media (min-width: 1800px) {
    .panel { width:90px; height: 100%; }
}


.panel .menu_link {
    display: block;
    width: 100%;
    padding: 1.5rem 0;
    height: 5rem;
    margin-bottom: 4rem;
    background: url(../images/menu_link.png) 50% 50% no-repeat;
}

.panel .account {
    margin-bottom: 3rem;
    color: #ffffff;
    text-align: center;
}

.panel .account .avatar { 
    margin-bottom: 1rem;
}

.panel .account .avatar img { 
    border-radius: 50%;
    max-width: 80%;
}

.panel .account .name {
    display: none;
}

.panel .account .points span {
    display: block;
}

.panel .cart{
    margin-bottom: 3.5rem;
    text-align: center;
}

.panel .cart a {
    opacity: 0.3;
}

.panel .cart.active a,
.panel .cart:hover  a {
    opacity: 1;
}

.panel .chat{
    margin-bottom: 3.5rem;
    text-align: center;
}

.panel .logo {
    margin-top: 6rem;
    text-align: center;
}
.panel .logo img {
    width: 90%;
    max-width: 75px;
}

@media (max-width: 799px) {

    .panel .cart,
    .panel .chat,
    .panel .logo,
    .panel .account .avatar,
    .mob_hide {
        display: none;
    }
        
    .panel_block {
        padding-left: 0;
        padding-top: 90px;
    }

    .panel {
        width: 100%;
        height: 8.7rem;
        position: absolute;
    }
    .panel .menu_link {
        width: 6rem;
        height: 6rem;        
        padding: 0;
        float: left;
        margin: 1.2rem 2.6rem 1.2rem 1.8rem;
        background: url(../images/640/menu_link.png) 50% 50% no-repeat;
    }

    .panel .account {
        font-size: 2.8rem;
        font-weight: 300;
        font-family: Roboto;
        line-height: 6rem;
        margin: 1.5rem 0 0 0;
    }
    .panel .account .points span {
        display: inline-block;
    }
    .panel .account .name {
        color: #fff;
        float: left;
        display: none;
        text-transform: uppercase;
        display: block;
    }
    .panel .account .name span {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-size: 1.8rem;
        font-family: Roboto;
        line-height: 3.8rem;
        width: 4.4rem;
        height: 3.8rem;
        position: relative;
        background: url(../images/account_name.png) 0 0 no-repeat;
        background-size: cover;
        padding-left: 6px; /* pic */
        top: -2px;         /* pic */
        margin-left: 3px;  /* pic */
    }
    .panel .account .points {
        float: right;
        padding: 0 3rem 0 0;
        font-size: 2.9rem;
        line-height: 6rem;
        text-transform: none;
    }
      .after-bar {
        padding-top: 4.3rem;
    }
}


.dropmenu {
    background: #00417b;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    height: 100%;
    min-height: 100%;
    padding-bottom: 6rem; /* because of disclaimer */
}

.container.for-dropmenu {
    padding-bottom: 0 !important;
}

/*@media screen and (orientation:landscape) and (max-height: 40rem) {*/
@media screen and (max-width:800px) {
    .dropmenu:not(.account-fixed-menu) {
        width: 100% !important;
    }

    .dropmenu .box {
        display: table-cell; 
        vertical-align: middle; 
        position: absolute;

        /*top: calc(50% - 8.7rem);*/
        top: 20%;
        height: 25rem;

      
        /*-webkit-transform: translateY(calc(-8.7rem - 50%));*/
        /*-ms-transform:     translateY(calc(-8.7rem - 50%));*/
        /*transform:         translateY(calc(-8.7rem - 50%));*/

        /*margin-top: 8.7rem;*/


        -webkit-transform: translateY(-50%);
        -ms-transform:     translateY(-50%);
        transform:         translateY(-50%);

        /*height: 25rem;*/
        /*top: 50%;*/
        /*margin-top: calc(-17.5rem + 7rem);*/
        /*margin-top: -8.15rem;*/
    }
	.dropmenu .box.menu{
		display: table-cell; 
        vertical-align: middle; 
		position: relative;
		top: auto;
        height: auto;
		 -webkit-transform: none;
        -ms-transform: none;
        transform: none;
	}

    .dropmenu .account_dashboard {
        padding-top: 8.85rem;  /* (3+3) + (20 - (2.8+2.5+1+6+2))/2 */
    }
	.dropmenu .menu .account_dashboard {
        padding-top: 0;  
		width: 100% !important;
    }
	.twelve.columns.account_menu.am_menu {
		width: 100% !important;
	}
    .dropmenu .account_dashboard {
        /*width: 39.3333333333% !important;*/ /* 5 columns */
        width: 100%;
    }
    .twelve.columns.account_menu {
        /*width: 56.6666666667% !important;*/ /* 7 columns */
        width: 100%;
    }
}


@media screen and (min-width:320px) and (max-width:550px) {
    .dropmenu .account_dashboard,
    .twelve.columns.account_menu {
        width:100%!important;
    }
    .dropmenu .box {
        top:20%;
    }
}

.dropmenu .close {
    display: block;
    width: 5rem;
    height: 5rem;
    background: url(../images/close.png) 50% 50% no-repeat;
    position: absolute;
    top: 0;
    margin: 0 2rem 0 0;
    padding: 1.5rem 0;
}


.dropmenu .links {
    text-align: center;
    margin-left:0rem;

}

.dropmenu .links li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    font-size: 1.8rem;
    font-weight: 300;
    font-family: Roboto Condensed;
    line-height: 5rem;
    text-transform: uppercase;
    margin-top: 2px; /*picfix*/
    margin-left: 0;
}

.dropmenu .links a {
    display: block;
    margin-top:8px;
    color: #5597d2;
    text-decoration: none;
    line-height: 26px;
}


.dropmenu .links a:hover {
    color: #fff;
}

.dropmenu .account_dashboard {
    text-align: center;
    color: #fff;
    /*background: url(../images/account_dashboard.png) 50% 0 no-repeat;*/
}

.dropmenu #account-icon {
    margin-bottom: 2rem;
    max-width: 6rem;
    width: 6rem;
}

.dropmenu .account_dashboard .name {
    font-size: 3rem;
    font-weight: 300;
    font-family: Roboto;
    line-height: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    word-wrap: break-word;
}
.dropmenu .account_dashboard .points {
    font-size: 2.4rem;
    font-weight: 300;
    font-family: Roboto;
    line-height: 3.6rem;
}
.dropmenu .account_dashboard .points span {
    font-weight: 400;
}

.dropmenu .box {
    display: table-cell;
    vertical-align: middle;
        margin-top: 20px;
}


.dropmenu .account_dashboard .row {
    margin-top: 4rem;
}

.dropmenu .account_menu {
    margin-top: 3rem;
}
.dropmenu .account_menu .item {
    display: inline-block;
    vertical-align: top;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: Roboto;
    line-height: 2rem;
    opacity: 0.5;
    margin-left: 2.6666666666333327%;
    text-align: center;
}
.dropmenu .account_menu .item.no-opacity {
    opacity: 1;
}
.dropmenu .account_menu .item:first-child {
    margin-left: 0;
}
.dropmenu .account_menu .item a {
    color: #fff;
    text-decoration: none;
}
.dropmenu .account_menu .item .icon {
    height: 4rem;
    line-height: 4rem;
    margin-bottom: 1rem;
}
.dropmenu .account_menu .item:hover,
.dropmenu .account_menu .item.active {
    opacity: 1;
}

.dropmenu .controls-row-1,
.dropmenu .controls-row-2 {
    margin-top: 3rem;
}

@media (max-width: 800px) {

    .dropmenu .close {
        width: 6rem;
        height: 6rem;
        margin: 0 2rem 0 0;
        padding: 1.5rem 0;
    }

    .dropmenu .links li {
        font-size: 1.8rem;
        font-weight: 300;
        font-family: Roboto Condensed;
        line-height: 2.5rem;
        padding-top: 1rem;
    }

}

@media (max-width: 900px) {

    .dropmenu .links a {
        font-size:16px;
        line-height: 22px;
    }

}

@media (max-width: 800px) {

    .dropmenu .links a {
        font-size:14px;
        line-height: 20px;
    }
    .links .ns3 {width: 26.6666666667% !important;}
}

@media screen and (min-width:800px) and (max-width:1100px) {
    .panel .logo {display: none !important}
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button-cancel {
    background-color: #00417b;
}

/*Исправоение галлереи в нашествии*/
.bx-viewport li { min-height: 1px; min-width: 1px; }