/* = WIDGETS =

    o Carousel
    o BX Slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/* Carousel
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.carousel {
    /*width: 247px;*/
    width: 22rem;
    overflow: hidden;
    margin: 0 auto;
    /*padding: 0 10px;*/
    padding: 0 1rem;
}
.carousel li {
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    list-style-type: none;
}
.carousel li img {
    vertical-align: middle;
}
.carousel li .points {
    background: #1963a6;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    position: absolute;
    /*top: 110px;*/
    /*left: 110px;*/
    top: 10.5rem;
    left: 11rem;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-family: Roboto;
    text-transform: uppercase;
    padding-top: 1.4rem;
}


.carousel li .points div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    font-size: 1.5rem;
}
.carousel li .points {
    font-size: 0.8rem;
}


/* BX Slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.bx-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0;
}
.bx-wrapper .bx-pager{
    position: absolute;
    bottom: -30px;
    width: 100%;
    text-align: center;
    z-index: 99;
}
.bx-wrapper .bx-pager .bx-pager-item {
    display: inline-block;
    vertical-align: middle;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    border-radius: 50%;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active { background: #000; }

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    outline: 0;
    width: 11px;
    height: 21px;
    text-indent: -9999px;
    z-index: 99;
    background: url(../images/carousel_arrows.png) 0 0  no-repeat;
}
.bx-wrapper .bx-controls-direction a.bx-prev {
    left: -10px;
    background-position: 0 0;
}
.bx-wrapper .bx-controls-direction a.bx-next {
    right: -10px;
    background-position: -11px 0;
}

.bx-wrapper .bx-controls-auto,
.bx-wrapper .bx-caption {
    display: none;
}
